
:root{
    --fuentePrincipal: 'Mukta', sans-serif;
    --colorCrema: #FFFBE9;
    --cremaOscuro: #e0ded3;
    --negroClaro: #3d3d3d;
}

/* Globales */

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-size: 16px;
}

p{
    font-family: var(--fuentePrincipal);
    font-weight: 200;
    font-size: 1.7rem;
    margin: 0;
    line-height: 1.7;
}

h1, h2, h3{
    font-family: var(--fuentePrincipal);
    font-weight: 200;
    text-align: center;
    margin: .5rem 0;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}

img{
    width: 100%;
}

/* Utilidades */

.contenedor{
    margin: auto;
    max-width: 90%;
}
.color-blanco{
    color: white;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.padding-1{
    padding: 1rem;
}
.align-left{
    text-align: left;
}

/* Navegador */

.nav-contenedor{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.logo{
    color: black;
    font-family: var(--fuentePrincipal);
    padding: 1.5rem;
    text-decoration: none;
    border-radius: .5rem;
    font-size: 2.2rem;
}

.logo-s{
    font-size: 2.8rem;
}

.nav-principal{
    width: 20rem;
    display: flex;
    justify-content: flex-end;
    width: 49.7%;
}
.etiquetas{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    color: black;
    margin: 0 2rem;
    display: inline-block;
    position: relative;
}
.etiquetas:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform  .4s ease-out;
}

.etiquetas:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Header */

.presentacion{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main */

.main-principal{
    max-width: 70%;
    margin: auto;
}

.contenedor-noticias{
    display: block;
}
@media (min-width: 768px) {
    .contenedor-noticias{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 10rem; 
        gap: 5rem;
    }
}
.noticia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5F5;
    transition: all .5s ease-in-out;
}
.noticia:hover{
    background-color: var(--cremaOscuro);
}

.titulo-noticia{
    padding: 1rem;
}
.text-noticia{
    padding: 0 3rem;
}
.fecha-noticia{
    padding: 1.5rem 0 1rem 3rem;
    color: rgba(0,0,0, 0.3);
    font-weight: bold;
    font-size: 1.5rem;
}

/* Footer */

.footer{
    background-color: var(--negroClaro);
    margin: 3rem 0 0;
    padding: 2rem;
}

/* Informacion */

.contenedor-info{
    display: block;
}

@media (min-width: 768px) {
    .contenedor-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

