:root{ /* Propiedades customizadas*/
    --fontKoulen: 'Koulen', cursive;
    --fontLexend: 'Lexend', sans-serif;
    --fontAlegreya: 'Alegreya Sans SC', sans-serif;

    --colorFondo: #e1e1e1;
}

/* Globales */

html{
    font-size: 62.5%;
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px */
    box-sizing: border-box;
    transition: all .3s;
    color: black;
}

h1,h2,h3,h4{
    text-align: center;
    font-weight: 800;
    margin: 2rem 0;
}
h2,h3,h4{
    font-family: var(--fontLexend);
    text-transform: uppercase;
}
h1{
    font-size: 4rem;
    font-family: var(--fontAlegreya);
    color: black;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 2.2rem;
}
a{
    text-decoration: none;
}
p{
    font-family: var(--fontLexend);
    line-height: 2;
    font-size: 2rem;
    font-weight: 100;
}
img{
    width: 100%;
}

.boton{
    border: none;
    text-decoration: none;
    color: white;
    font-family: var(--fontLexend);
    text-transform: uppercase;
    padding: 2rem 3rem;
    width: 100%;
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.switch{
    margin-top: 3rem;
}
@media(min-width: 768px){
    .switch{
        margin: 0;
    }
}

.modoOscuro{
    background-color: #000117;
    color: white;
}

/* Utilidades */

.contenedor{
    max-width: 90%;
    margin: auto;
}
.no-margin{
    margin: 0;
}
.color-blanco{
    color: white;
}
.fondo-blanco{
    background-color: white;
}
.color-marron{
    color: #8f6b53;
}
.color-negro{
    color: black;
}
.fondo-grisOscuro{
    background-color: #1b2030;
}
.fondo-negro{
    background-color: black;
}
.letra-italic{
    font-style: italic;
}
.letra-minuscula{
    text-transform: lowercase;
}
.align-left{
    text-align: left;
}

/* Header */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: .5rem;
    transition: all .5s;
}
.redes__svg{
    margin: 0 .5rem;
    display: none;
}
.header__ofertas{
    font-size: 1.6rem;
}
@media(min-width: 768px){
    .header{
        justify-content: space-between;
        padding: .5rem 8rem;
    }
    .redes__svg{
        display: inline;
    }
    .header__ofertas{
        font-size: 2rem;
        margin-right: 4rem;
    }
}

/* Navegador */

.navegador{
    padding: 2rem 0;
    transition: all .5s;
}
.navegador__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 0;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.nav-principal{
    text-align: center;
}
.enlaces, .footer__enlaces{
    font-size: 1.8rem;
    font-family: var(--fontLexend);
    margin: 0 2rem;
    border-right: 2px solid grey;
    padding-right: 4rem;
}
.enlaces{
    text-transform: uppercase;
}
.enlaces:last-of-type{
    padding: 0;
    border: none;
}
.enlaces:hover{
    text-decoration: underline;
}
@media (min-width: 768px) {
    .navegador{
        display: flex;
        align-items: center;
    }
    .navegador__contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 0rem 4rem;
    }
    .enlaces:last-of-type{
        margin-right: 13rem;
    }
    .logo{
        font-size: 4rem;
        margin: 0;
    }
}


/* Hero */

.hero{
    background-image: url(../img/imghero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__titulo{
    font-family: var(--fontAlegreya);
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 4rem;
    margin: 0 3rem;
    padding: 1rem;
}
@media (min-width: 768px) {
    .hero{
        height: 79.5rem;
    }
}

/* Main */

.main{
    padding-top: 2rem;
}
main h2{
    font-family: var(--fontLexend);
    font-weight: 400;
    text-align: center;
}
.articulos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 4rem 0;
}
.tarjeta{
    margin-bottom: 4rem;
    border-bottom: 1px solid grey;
}
.tarjeta__titulo, .tarjeta__precio{
    text-align: left;
}
.tarjeta__titulo{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.tarjeta__precio{
    font-size: 1.6rem;
    font-weight: 100;
    margin-top: 1rem;
}
.tarjeta__talles{
    font-size: 1.4rem;
    color: grey;
    margin: 0;
}
@media (min-width: 1024px) {
    .articulos{
        display: flex;
        column-gap: 3rem;
        border-bottom: 1px solid grey;
    }
    .tarjeta{
        display: flex;
        flex-direction: column;
        justify-content: start;
        border: none;
    }
    .tarjeta__titulo{
        font-size: 1.7rem;
    }
    .tarjeta__talles{
        font-size: 1.6rem;
    }
    .tarjeta__img{
        transition: all .3s;
    }
    .tarjeta__img:hover{
        transform: scale(1.05);
    }
    .tarjeta__descripcion{
        padding: 0;
    }
}

/* Muestras */

.muestra__grid{
    padding: 4rem 0;
    display: grid
}
@media (min-width: 1024px) {
    .muestra__grid{
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 2rem;
    }
    .muestra__boton{
        width: 40%;
    }
}

/* Footer */

.footer{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.footer__elementos{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer__newsletter{
    grid-column: 1 / 3;
}
@media (min-width: 768px) {
    .footer{
        display: flex;
        justify-content: space-evenly;
    }
}
.footer__elementos a{
    border: none;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.footer__title{
    text-align: left;
    margin: 2rem 0 1rem 0;
}
.footer__text{
    margin: 0 0 1rem 0;
    font-size: 1.8rem;
}

/* Formulario */

.formulario{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;
}
.formulario__email{
    padding: 1rem;
    margin-right: .3rem;
    max-width: 100%;
    font-family: var(--fontLexend);
    border: none;
    text-align: none;
    font-size: 1.2rem;
}
.formulario__boton{
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
}
@media (min-width: 768px) {
    .formulario{
        flex-direction: row;
    }
    .formulario__boton{
        margin: 0;
        max-width: 15rem;
    }
    .formulario__email{
        width: 30rem;
    }
}

/* ----- CATALOGO ----- */

.catalogo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@media (min-width: 1024px) {
    .catalogo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        padding: 2rem 10rem;
    }
}


